<h1>Subtitle</h1>
<em>fabricioraphael.b@gmail.com</em> <br /> <br />
<hr />


<%= form_for (@home, :url => {:action => :upload}, :html => { :multipart => true }, :id => :upload) do |h| %>
	<table>
    <tr>
      <td><%= h.label "Arquivo.srt" %> </td>
      <td><%= h.file_field :arq , :id => "arq" %> </td>
		</tr>
		<tr><td><hr /></td><td><hr /></td></tr>

		<tr>
      <td><%= h.text_field :value, :id => "value", :size => 5 %></td>
      <td>
				<%= h.radio_button :operacao , true %> <%= h.label "Somar" %> |
				<%= h.radio_button :operacao , false %> <%= h.label "Subtrair" %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><%= submit_tag "Processar" %></td>
		</tr>
	</table>
<% end %>

<% if not @arq_name.nil? %>
	<hr />
	<%= link_to "Download da Legenda '#{@arq_name}'", download_path(:arq_name => @arq_name) %>  
<% end %>